{% extends 'layouts/auth-layout.html' %} {% block authLayout %}
<div class="tw-text-[30px] tw-font-bold tw-mb-[3px]">Forgot Password?</div>
<div class="tw-text-[14px] tw-font-normal tw-text-gray-400">Lost your password? Please enter your mobile number to receive a OTP, login with OTP and change your password in your Profile</div>
<div class="tw-grid tw-grid-cols-12 tw-gap-[10px] tw-my-[20px]">
  <div class="tw-col-span-12 lg:tw-col-span-12 floating-label">
    <input type="mobile" class="form-control" id="mobile" placeholder=" " />
    <label for="mobile">Mobile Number</label>
  </div>
</div>
<div class="tw-flex tw-flex-col tw-gap-[10px]">
  <a href="login.html" class="btn btn-primary tw-w-full">Get OTP</a>
  <a href="login.html" class="btn btn-link tw-w-full"><i class="fa fa-angle-left tw-mr-[10px]"></i>Back to Sign In</a>
</div>
{% endblock %}
