{% extends 'layouts/auth-layout.html' %} {% block authLayout %}
 
<div class="floating-label tw-mb-[20px]">
  <input type="email" class="form-control bw-form-control" id="username" placeholder=" " />
  <label for="username">Username</label>
</div>
<div class="floating-label tw-mb-[20px]">
  <input type="password" class="form-control bw-form-control" id="password" placeholder=" " />
  <label for="password">Password</label>
</div>
<div class="tw-flex tw-flex-col tw-gap-[10px]"> 
  <a href="dashboard.html" class="btn btn-primary bw-btn tw-self-start">Sign In <i class="fi fi-rr-angle-right"></i></a> 
</div>
{% endblock %}
