{% extends 'layouts/auth-layout.html' %} {% block authLayout %}
<div class="tw-text-[30px] tw-font-bold tw-mb-[3px]" >Sign Up</div>
<div class="tw-text-[14px] tw-font-normal tw-text-gray-400">Please sign up to your account and start the adventure</div>
<div class="tw-grid tw-grid-cols-12 tw-gap-[20px] tw-my-[20px]">
  <div class="tw-col-span-12 lg:tw-col-span-6 floating-label">
    <input type="email" class="form-control" id="firstname" placeholder=" " />
    <label for="firstname">First Name</label>
  </div>
  <div class="tw-col-span-12 lg:tw-col-span-6 floating-label">
    <input type="email" class="form-control" id="lastname" placeholder=" " />
    <label for="lastname">Last Name</label>
  </div>
  <div class="tw-col-span-12 lg:tw-col-span-6 floating-label">
    <input type="email" class="form-control" id="email" placeholder=" " />
    <label for="email">Email</label>
  </div>
  <div class="tw-col-span-12 lg:tw-col-span-6 floating-label">
    <input type="email" class="form-control" id="mobile" placeholder=" " />
    <label for="mobile">Mobile</label>
  </div>
  <div class="tw-col-span-12 floating-label">
    <select class="form-select" id="subject">
      <option selected>Select</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
    <label for="subject">Subject</label>
  </div>
  <div class="tw-col-span-12 floating-label">
    <input type="text" class="form-control" id="College" placeholder=" " />
    <label for="College">College</label>
  </div>
</div>
<div class="tw-flex tw-flex-col tw-gap-[10px]">
  <a href="login.html" class="btn btn-primary tw-w-full">Sign Up</a>
  <a href="login.html" class="btn btn-link tw-w-full"><span class="tw-text-gray-500">Already have an account?</span> Sign In</a>
</div>
{% endblock %}
