{% extends 'layouts/admin-layout.html' %} {% block adminLayout %}
<div>
  <div class="menu-swiper" >
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><a href="courses.html">Courses</a></div>
        <div class="swiper-slide"><a href="colleges.html">Colleges</a></div>
        <div class="swiper-slide"><a href="#" class="active">Students</a></div> 
      </div>
    </div>
    <div class="menu-swiper-nav-prev"><i class="fi fi-sr-angle-left"></i></div>
    <div class="menu-swiper-nav-next"><i class="fi fi-sr-angle-right"></i></div>
  </div>
  <div class="tw-flex-col tw-flex md:tw-flex-row md:tw-items-center tw-mb-[20px] tw-gap-[10px]">
    <div class="tw-text-[20px] tw-font-bold tw-flex-auto">Students</div>
    <div class="bw-search">
      <i class="fi fi-rr-search"></i>
      <input class="form-control bw-form-control" placeholder="Search" />
    </div>
    <div class="tw-flex tw-items-center tw-gap-[10px]">
      <button type="button" class="btn btn-outline-primary bw-btn">Download <i class="fi fi-rr-download"></i></button>
      <div class="dropdown">
        <button type="button" class="btn btn-outline-default bw-btn" data-bs-toggle="dropdown" data-bs-auto-close="outside">Filters <i class="fi fi-rr-settings-sliders"></i></button>
        <div class="dropdown-menu dropdown-menu-end bw-dropdown bw-dropdown-filter">
          <div class="bw-dropdown-filter-header">
            <div class="bw-dropdown-filter-title">Filters</div>
            <button class="bw-dropdown-filter-close btn btn-sm btn-icon" type="button"><i class="fi fi-sr-cross"></i></button>
          </div>
          <div class="bw-dropdown-filter-body">
            <form>
              <div class="row g-3">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-label">College</label>
                    <select class="form-select form-select-sm">
                      {% for item in g.app.colleges %}
                      <option>{{item.college}}</option> 
                      {% endfor %}
                      </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-label">Phone Number</label>
                    <input class="form-control form-control-sm" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-label">Email</label>
                    <input class="form-control form-control-sm" />
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="form-label">Branch</label>
                    <select class="form-select form-select-sm">
                      <option>Select</option>
                    </select>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="bw-dropdown-filter-footer">
            <button type="button" class="btn tw-mr-auto bw-btn">Reset All</button>
            <button type="button" class="btn btn-outline-default bw-btn">Apply</button>
          </div>
        </div>
      </div>
      <a class="btn btn-primary btn-icon" data-bs-toggle="modal" data-bs-target="#add-student"><i class="fi fi-sr-plus"></i></a>
 
    </div>

  </div>
  <div class="table-responsive bw-card">
    <table class="table table-hover bw-table tw-m-0">
      <thead>
        <tr>
          <th>S.No</th>
          <th>Name</th>
          <th>College</th>
          <th>Email</th>
          <th>Phone</th> 
          <th>QR</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for item in g.app.students %}
        <tr>
          <td>{{loop.index}}</td>
          <td>{{item.name}}</td>
          <td>{{item.college}}</td>
          <td>{{item.email}}</td>
          <td>{{item.phone}}</td> 
          <td>
            <div class="dropdown">
            <button type="button" class="btn btn-sm btn-icon btn-outline-primary" data-bs-toggle="dropdown"><i class="fi fi-sr-qrcode"></i></button>
            <div class="dropdown-menu dropdown-menu-end bw-dropdown tw-p-[20px]">
              <img src='https://demo.gobrainwiz.in/admin/assets/images/qr.png' class="tw-w-full tw-object-contain" />
            </div>
            </div>
          </td> 
          
          <td>
            <div class="dropdown">
              <button class="btn btn-sm btn-outline-default bw-btn" type="button" data-bs-toggle="dropdown">Actions <i class="fi fi-sr-angle-small-down"></i></button>
              <ul class="dropdown-menu dropdown-menu-end bw-dropdown">
                <li>
                  <a class="dropdown-item" data-bs-toggle="offcanvas" href="#view-student"><i class="fi fi-sr-eye"></i> View</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#"><i class="fi fi-sr-edit"></i>Edit</a>
                </li>
                
                <li>
                  <a class="dropdown-item" href="#"><i class="fi fi-sr-trash"></i>Delete</a>
                </li>
              </ul>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="tw-flex-col tw-flex md:tw-flex-row tw-items-center tw-gap-[10px] tw-mt-[10px]">
    <div class="tw-flex tw-items-center tw-gap-[10px] tw-mr-auto">
      <select class="form-select form-select-sm">
        <option>10</option>
        <option>25</option>
        <option>50</option>
        <option>100</option>
      </select>
      <span class="tw-whitespace-nowrap">Showing 1 to 1 of 1 entries</span>
    </div>
    <nav>
      <ul class="pagination bw-card tw-m-0">
        <li class="page-item">
          <a class="page-link" href="#"><i class="fi fi-br-angle-left"></i></a>
        </li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
          <a class="page-link" href="#"><i class="fi fi-br-angle-right"></i></a>
        </li>
      </ul>
    </nav>
  </div>
</div>
<div class="modal fade bw-modal" id="add-student">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Upload Student List</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <div class="tw-mb-[20px]">
        <label class="form-label">College</label>
        <select class="form-select">
          {% for item in g.app.colleges %}
          <option>{{item.college}}</option> 
          {% endfor %}
          </select>
      </div>
      <label class="bw-upload">
        <input type="file" />
        <div>
          <strong>Upload</strong>
          <p>Click or Drag & Drop your file here.</p>
        </div>
      </label>
      <ul class="list-group tw-mt-[10px]">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          students.xls
          <button type="button" class="btn btn-sm btn-icon"><i class="fi fi-sr-trash"></i></button>
        </li>
       
      </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Upload</button>
      </div>
    </div>
  </div>
</div>

<div class="offcanvas offcanvas-end" id="view-student">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title">Student Info</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="list-group">
      {% for key,value in g.app.students[1].items() %}

      <div class="list-group-item">
        <div class="tw-text-[12px] tw-text-gray-400 tw-capitalize">{{key}}</div>
        <div>{{value}} </div>
      </div>

      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
