{% extends 'layouts/base-layout.html' %} 
{% block baseLayout %}
<div class="tw-bg-[#F7F7FA] tw-min-h-screen tw-flex">
  <div class="tw-flex-auto tw-bg-[url(assets/images/bg.png)] tw-bg-contain tw-hidden lg:tw-flex tw-flex-col tw-items-center tw-justify-center tw-min-w-0 tw-p-[20px] lg:tw-p-[40px]">
       
  </div>
  <div class="tw-flex-none tw-w-[500px] tw-bg-gradient-to-t tw-from-blue-100 tw-to-white tw-flex tw-flex-col tw-justify-center tw-py-[40px] tw-px-[20px] lg:tw-p-[40px]">
      <div class="lg:tw-w-[450px] tw-max-w-full tw-mx-auto">
        <a href="index.html"><img src="assets/images/logo.svg" class="tw-h-[30px] tw-max-w-full tw-mb-[20px] lg:tw-mb-[60px]" /></a>
          {% block authLayout %}
          <p>Page Will Comes Here!</p>
          {% endblock %} 
      </div>
  </div>
  </div>
</div>
 
{% endblock %}