{% extends 'layouts/base-layout.html' %} 
{% block baseLayout %}
<div class="tw-bg-cover tw-bg-right-top	tw-bg-[url(https://images.unsplash.com/photo-1634655377962-e6e7b446e7e9?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)] tw-min-h-screen tw-flex tw-justify-end">
  <div class="tw-flex-none tw-w-[500px] tw-shadow-[-5px_0_20px] tw-shadow-black/5 tw-backdrop-blur-lg tw-bg-gradient-to-tr tw-from-white/90 tw-to-white/30 tw-flex tw-flex-col tw-justify-center tw-py-[40px] tw-px-[20px] lg:tw-p-[40px]">
      <div class="lg:tw-w-[350px] tw-max-w-full tw-mx-auto">
        <a href="index.html"><img src="assets/images/logo.svg" class="tw-h-[30px] tw-max-w-full tw-mb-[20px] lg:tw-mb-[60px]" /></a>
          {% block authLayout %}
          <p>Page Will Comes Here!</p>
          {% endblock %} 
      </div>
  </div>
  </div>
</div>
{% endblock %}