<div class="tw-flex tw-items-center tw-h-[62px] tw-px-[15px] tw-bg-white  tw-border-0 tw-border-b tw-border-solid  tw-border-gray-200">
   <button type="button" class="btn btn-icon"  data-layout="sidebar-toggle"><i class="fi fi-rr-sidebar [&:before]:tw-align-top tw-block tw-size-[20px] tw-text-[20px]"></i></button>
   <div class="dropdown tw-ml-auto">
      <button class="btn !tw-border-gray-300 tw-py-0 tw-h-[40px]" type="button" data-bs-toggle="dropdown">
         <div class="tw-inline-flex tw-items-center tw-justify-center tw-align-top tw-size-[24px] tw-rounded-full tw-bg-gray-200 tw-overflow-hidden">
            <i class="fi fi-sr-user tw-block tw-size-[20px] tw-text-[20px] [&:before]:tw-align-top -tw-mb-[6px]"></i>
         </div> 
         <span class="tw-align-middle">Admin</span> 
         <i class="fi fi-sr-angle-small-down tw-align-middle [&:before]:tw-align-middle"></i>
      </button>
      <ul class="dropdown-menu tw-w-[240px] tw-border-0 tw-shadow-[0_0_20px] tw-shadow-black/15">
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><a class="dropdown-item" href="#">Change Password</a></li>  
        <li><a class="dropdown-item" href="#">Logout</a></li>
      </ul>
    </div>  
</div>