<div class="tw-flex tw-items-center tw-h-[62px] tw-px-[15px] tw-bg-white  tw-border-0 tw-border-b tw-border-solid  tw-border-gray-200 tw-sticky tw-top-0 tw-z-[9]">
   <button type="button" class="btn btn-icon"  data-layout="sidebar-toggle"><i class="fi fi-rr-sidebar tw-text-[20px]"></i></button>
   <div class="dropdown tw-ml-auto">
      <button class="btn !tw-border-gray-300 tw-py-0 tw-h-[40px] tw-flex tw-items-center tw-gap-[5px]" type="button" data-bs-toggle="dropdown">
         <i class="fi fi-sr-circle-user tw-text-[24px] tw-text-gray-500"></i>
         <span class="tw-align-middle">Admin</span> 
         <i class="fi fi-sr-angle-small-down"></i>
      </button>
      <ul class="dropdown-menu bw-dropdown">
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><a class="dropdown-item" href="#">Change Password</a></li>  
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Logout</a></li>
      </ul>
    </div>  
</div>

   