<div data-layout="sidebar" class="

    tw-fixed
    tw-z-[999]
    tw-left-0
    tw-top-0
    tw-bottom-0
    tw-bg-gray-50
    tw-shadow-[inset_-3px_0_3px]
    tw-shadow-black/5
     tw-w-[300px]
    md:tw-w-[70px]
    tw-transition-all
    tw-duration-300
    tw-ease-out
    tw-overflow-hidden
    tw-flex
    tw-flex-col

    [&_.metismenu_.has-arrow::after]:tw-hidden
    [&.classic_.metismenu_.has-arrow::after]:tw-block
    [&.compact:hover_.metismenu_.has-arrow::after]:tw-block
    [&_.metismenu_.has-arrow::after]:tw-origin-center	
    [&_.metismenu_.has-arrow::after]:-tw-translate-y-[50%]
    [&_.metismenu_.has-arrow::after]:-tw-rotate-[135deg]
    [&_.metismenu_.mm-active>.has-arrow::after]:-tw-rotate-[45deg]
    [&>div]:tw-flex-auto
    [&>div]:tw-flex
    [&>div]:tw-flex-col
    [&>div]:tw-min-h-0
    [&_[data-layout='menu']]:tw-flex-auto
    [&_[data-layout='menu']]:tw-min-h-0
    [&_[data-layout='menu']_ul]:tw-list-none
    [&_[data-layout='menu']_ul]:tw-p-0
    [&_[data-layout='menu']>ul]:!tw-p-[23px]
    [&_[data-layout='menu']>ul_ul]:tw-border-0
    [&_[data-layout='menu']>ul_ul]:tw-border-l-2
    [&_[data-layout='menu']>ul_ul]:tw-border-solid
    [&_[data-layout='menu']>ul_ul]:tw-border-gray-300
    [&_[data-layout='menu']>ul_ul]:tw-pl-[30px]
    [&_[data-layout='menu']>ul_ul]:tw-ml-[12px]
    [&_[data-layout='menu']>ul_ul]:tw-gap-[0px]
    [&_[data-layout='menu']_ul]:tw-m-0
    [&_[data-layout='menu']_ul]:tw-flex
    [&_[data-layout='menu']_ul]:tw-gap-[10px]
    [&_[data-layout='menu']_ul]:tw-flex-col

    [&_[data-layout='menu']_ul_li>a]:tw-flex 
    [&.compact:not(:hover)_[data-layout='menu']_ul_ul]:tw-hidden 


    [&_[data-layout='menu']_ul_li>a]:tw-gap-[20px] 
    [&_[data-layout='menu']_ul_li>a]:tw-items-center
    [&_[data-layout='menu']_ul_li>a]:tw-text-gray-800
    [&_[data-layout='menu']_ul_li>a]:tw-no-underline
    [&_[data-layout='menu']_ul_li>a]:tw-h-[40px]
    [&_[data-layout='menu']_ul_li>a]:tw-cursor-pointer
    [&_[data-layout='menu']_ul_li:hover>a]:tw-opacity-50

    [&_[data-layout='menu']_ul_li>a>i]:tw-flex-none
    [&_[data-layout='menu']_ul_li>a>i]:tw-size-[24px]
    [&_[data-layout='menu']_ul_li>a>i]:tw-flex
    [&_[data-layout='menu']_ul_li>a>i]:tw-items-center 
    [&_[data-layout='menu']_ul_li>a>i]:tw-justify-center
    [&_[data-layout='menu']_ul_li>a>i]:tw-text-[20px]
    [&_[data-layout='menu']_ul_li>a>i]:!tw-text-gray-400
    [&_[data-layout='menu']_ul_li>a>i:before]:tw-align-middle
    [&_[data-layout='menu']_ul_li.active>a>i]:!tw-text-gray-800

    [&_[data-layout='menu']_ul_li>a>span]:tw-hidden
    [&_[data-layout='menu']_ul_li>a>span]:tw-truncate
    [&_[data-layout='menu']_ul_li>a>span]:tw-flex-auto


   [&.compact:hover]:tw-w-[300px]
   [&.classic]:tw-w-[300px]
   [&.compact:hover]:tw-shadow-[1px_0px_10px] 
   [&.compact:hover]:tw-shadow-black/20
   [&_[data-layout='sidebar-toggle']]:tw-flex
   md:[&_[data-layout='sidebar-toggle']]:tw-hidden 
 
 
   
    [&.compact:hover_[data-layout='menu']_ul_li_span]:tw-block
    [&.classic_[data-layout='menu']_ul_li_span]:tw-block
 
    [&.compact_[data-layout='logo']]:tw-justify-center
    [&.classic_[data-layout='logo']]:tw-justify-start
    [&.compact:hover_[data-layout='logo']]:tw-justify-start
    [&.compact_[data-layout='logo']_img:nth-child(2)]:tw-hidden
    [&.compact_[data-layout='logo']_img:nth-child(1)]:tw-block
    [&.classic_[data-layout='logo']_img:nth-child(1)]:tw-hidden
    [&.classic_[data-layout='logo']_img:nth-child(2)]:tw-block
    [&.classic_[data-layout='logo']_img:nth-child(2)]::tw-pl-[13px]
    [&.classic_[data-layout='logo']_img:nth-child(2)]:tw-pl-[13px]
    [&.compact:hover_[data-layout='logo']_img:nth-child(2)]:tw-block
    [&.compact:hover_[data-layout='logo']_img:nth-child(1)]:tw-hidden
    [&.classic_[data-layout='menu']]:tw-overflow-y-auto
    [&.compact:hover_[data-layout='menu']]:tw-overflow-y-auto

    [&.compact]:-tw-translate-x-[120%]
    [&.classic]:-tw-translate-x-0
 
    md:[&.compact]:-tw-translate-x-0
    md:[&.classic]:-tw-translate-x-0
    ">
  <div>
  
    <a class="tw-flex tw-items-center tw-px-[10px] tw-py-[15px] tw-pb-0 tw-no-underline" data-layout="logo">
      <img src="assets/images/logo-icon.svg" class="tw-size-[30px]" />
      <img src="assets/images/logo.svg" class="tw-h-[30px]" />
 
        <button type="button" class="btn btn-icon tw-ml-auto"  data-layout="sidebar-toggle"><i class="fi fi-rr-cross-small [&:before]:tw-align-top tw-block tw-size-[20px] tw-text-[20px]"></i></button>
    
    </a>
   

   

    {% macro recursive(list) %}
    <ul >
      {% for item in list %} 
      <li class="{{ 'active' if item.endpoint == url_for(request.endpoint) else '' }}">
        <a class="{% if item.children %}has-arrow{% endif %}">{% if item.icon %}<i class="{{item.icon}}"></i>{% endif %}<span>{{item.label}}</span></a>
        {% if item.children %} {{ recursive(item.children) }} {% endif %}
      </li>
      {% endfor %}
    </ul>
    {% endmacro %} 
    <div data-layout="menu">
      {{ recursive(g.app.menu) }}

    </div>
  </div>
</div>
