<div data-layout="sidebar">
  <div>
    <a data-layout="logo">
      <img src="assets/images/logo.svg" alt="logo" />
      <button type="button" class="btn btn-icon" data-layout="sidebar-toggle"><i class="fi fi-rr-cross"></i></button>
    </a>
    {% macro recursive(list) %}
    <ul>
      {% for item in list %}
      <li class="{{ 'active' if item.endpoint == url_for(request.endpoint).replace('/','') else '' }}">
        <a href="{{item.endpoint }}" class="{% if item.children %} has-arrow {% endif %}">{% if item.icon %}<i class="{{item.icon}}"></i>{% endif %}<span>{{item.label}}</span></a>
        {% if item.children %} {{ recursive(item.children) }} {% endif %}
      </li>
      {% endfor %}
    </ul>
    {% endmacro %}
    <div data-layout="menu">{{ recursive(g.app.menu) }}</div>
  </div>
</div>
